body {
  margin-top: 105px; }
  .body{
    background-image : url(https://lh3.googleusercontent.com/vgbDXGLqrLaQxsLtSZ94eC15u11EDzadzeJiutfD3Ln8Iir1QDUFUbN18s8nGeWQafw2jFHjotvvfGOTmK3BeP_qy4V1oROAMMld0kr1HoPeZwxuvnW2yM-2r_Cnk7VEKEhbBzT0yVXWMOxnAH7K-csmSSxG3EZEoMLWYo_IeJ0gNuPnVy2ll_Rlfyu5EMjzcEl30oFfqBamPkbJHswFxsgKNJM0Rs0715V8nT_4_QCeRuZeRktZZFfiaNpt0cMISaDqvAW0Biaj_IIMzrQ339IvifcUhzwier9bmVymxHr-qqpwomBNpqY6SDLa_k1ZyZ4TfKosS47S1K1ENhwgGDqRJfQ0YD8jzEQXhiQvndE-bYHUlHX7vLaUHLfyAL5Kml9mTjjWUTpQYXUM1QK59ChLLf20Emy1Dxms8ChEdTSeAjREW34qBmHK260WNRNpPxNWFGziLY6SrdNVOPW_2qnLAI4kQhk2rLzi0WW4fvS4OpfVfW2un9xoTFS7J6Geq7pCxLr9yMA55ssF6M1RsI3lzhk9TS5bP-sJbjIdYL-1NeZaPOsNi_ufQeOQIECaFiVWOEtVswl9hJx7jQzBmUnlxQLRv4IwrRS5_EDNZkDBcEk5Dl9oA82Zt6YiG07YZPuutlagEG_ClfS3peqMq22u5B6KQWdSGSQowm5_nCk7zCwMps1PUA=w1388-h708-no);;
    background-repeat: no-repeat;
    
  }


  .log2{
    background-color: aquamarine;
  }

.navbar {
  box-shadow: 2px 2px 5px #427e26;
  opacity: 0.9;
  background: #fff; }
  .navbar .nav-item {
    font-size: 1.4rem;
    padding-right: 1.4rem; }

#showcase {
  position: relative;
  background: url("../img/mountains.jpg");
  min-height: 600px; }
  #showcase .primary-overlay {
    background: rgba(141, 166, 50, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.info-header {
  width: 50%;
  margin: auto;
  border-bottom: 1px #ddd solid; }

#authors img {
  margin-top: -50px; }
#authors .card:hover {
  background: #74a632;
  color: #fff; }
#authors .fab {
  color: #fff; }

@media (max-width: 768px) {
  #showcase {
    min-height: 500px; }
    #showcase h1 {
      font-size: 4rem; }

  .mb-resp {
    margin-bottom: 1rem; } }
